<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sertifikat</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&family=Calistoga&family=Open+Sans:wght@400;600&family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/static/stylesheets/template/sertifikat.css">

</head>
<body>
    
    <!-- Halaman 1 -->
    <section class="sertifikat">
        <div class="top-right">
        <img src="http://localhost:3000/static/assets-certif/gambar1.png" alt="Logo 1">
        <img src="http://localhost:3000/static/assets-certif/gambar2.png" alt="Logo 2">
        </div>

        <div class="logo-utama">
        <img src="http://localhost:3000/static/assets-certif/logo-utama.png" alt="Logo Utama">
        <div class="instansi"><b>DINAS PERPUSTAKAAN DAN KEARSIPAN <br> PROVINSI JAWA TIMUR</b></div>
        </div>

        <div class="judul-hal1">SERTIFIKAT</div>
        <div class="nomor">Nomor: 400.14.5.4/665/119.1/2025</div>
        <div class="diberikan">Diberikan kepada</div>
        <div class="nama"><%= peserta.nama %></div>
        <hr>
        <div class="univ"><%= peserta.instansi %></div>

        <div class="deskripsi">
        Telah melaksanakan Praktik Kerja Lapangan (Magang) <br> dengan “Baik” di Dinas Perpustakaan dan Kearsipan Provinsi Jawa Timur <br> pada tanggal <%= peserta.tanggal_mulai_magang %> sampai dengan <%= peserta.tanggal_selesai_magang %>
        </div>

        <div class="ttd-section">
        <div class="piagam">
            <img src="http://localhost:3000/static/assets-certif/piagam.png" alt="Piagam">
        </div>
        <div class="ttd">
            <p>Surabaya, .....</p>
            <p>Kepala Dinas</p>
            <p>Perpustakaan dan Kearsipan</p>
            <p>Provinsi Jawa Timur,</p>
            <div class="ttd-image"></div>
            <p class="nama-pejabat">Ir. Tiat S. Suwardi, M.Si.</p>
            <p>Pembina Utama Muda (IV/c)</p>
            <p>NIP 196704021994032007</p>
        </div>
        </div>
    </section>

    <!-- Halaman 2 (berisi tabel nilai PKL) -->
    <section class="sertifikat">
    <div class="wrapper-tabel-sertifikat">
    <div class="judul-hal2">DAFTAR NILAI PRAKTIK KERJA LAPANGAN</div>

    <!-- Tabel A. Aspek Teknis -->
        <div class="tabel-teknis">
        <div class="subjudul-hal2">A. ASPEK TEKNIS</div>
        <table>
        <thead>
            <tr>
            <th rowspan="2">NO</th>
            <th rowspan="2" class="aspek-header">ASPEK YANG DINILAI SKS</th>
            <th colspan="2">NILAI</th>
            </tr>
            <tr>
            <th>ANGKA</th>
            <th class="text-center">HURUF</th>
            </tr>
        </thead>
        <tbody>
             <% teknis.forEach(t => { %>
              <tr>
                <td><%= t.no %></td>
                <td><%= t.subjek %></td>
                <td><%= t.angka %></td>
                <td><%= t.huruf %></td>
              </tr>
            <% }) %>
            <td colspan="2">Jumlah</td>
            <td><%= teknisJumlah %></td>
            <td></td>
            </tr>
            <tr>
            <td colspan="2">Nilai Rata-Rata</td>
            <td><%= teknisRata %></td>
            <td><%= teknisHuruf %></td>
            </tr>
        </tbody>
        </table>
    </div>

    <!-- Tabel B. Aspek Non Teknis -->
    <div class="tabel-nonteknis" style="margin-top:10px;">
        <div class="subjudul-hal2">B. ASPEK NON TEKNIS</div>
        <table>
        <thead>
            <tr>
            <th rowspan="2">NO</th>
            <th rowspan="2" class="aspek-header">ASPEK YANG DINILAI SKS</th>
            <th colspan="2">NILAI</th>
            </tr>
            <tr>
            <th>ANGKA</th>
            <th class="text-center">HURUF</th>
            </tr>
        </thead>
        <tbody>
            <% nonTeknis.forEach(n => { %>
                <tr>
                <td><%= n.no %></td>
                <td><%= n.subjek %></td>
                <td><%= n.angka %></td>
                <td><%= n.huruf %></td>
                </tr>
            <% }) %>
            <tr>
                <td colspan="2">Jumlah</td>
                <td><%= nonJumlah %></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Nilai Rata-Rata</td>
                <td><%= nonRata %></td>
                <td><%= nonHuruf %></td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    </section>

</body>
</html>